/* Add here all your CSS customizations */
#header .header-body {
  background-color: #2e2e2e;
  border: none;
}

.header-logo {
  width: 230px !important;
  color: #fff;
}

.header-logo a {
  color: #fff;
}
.feature-box-img {
  float: left;
}
.feature-box-img > img {
  width: 50px;
}
.feature-box-logotext {
  margin-left:10px;
  display: inline-block;
}

#header .header-nav.header-nav-line nav > ul > li > a:before {
  bottom: 0px;
}
#header .header-nav.header-nav-line:not(.header-nav-light-text) nav > ul > li > a {
  color: #ccc;
  text-decoration: none;
  font-weight: normal;
  letter-spacing: justify;
  
}
#header .header-nav.header-nav-line:not(.header-nav-light-text) nav > ul > li > a:hover,
#header .header-nav.header-nav-line nav > ul:not(:hover) li > a.active { 
  color: #f2f2f2;
  font-weight: bolder;
  letter-spacing:  justify;
  }
  #header .header-nav.header-nav-line nav > ul:not(:hover) li > a.active:before,
  #header .header-nav.header-nav-line nav > ul:hover li > a:hover:before {
    background-color: #f2f2f2;
  }
#header .header-nav.header-nav-line nav > ul > li > a:before {
  top: initial !important;
  bottom: 1px !important;
}
.social-icons li a {
  color: #999 !important;
}

ul.slider-ul {
  margin-bottom: 0 !important;
  padding-left: 0 !important;
}
ul.slider-ul > li {
  margin: 15px 0;
  padding: 15px 0;
}
.mb-none {
  display: inline;
}

.table {
 border: none;
 font-size: 18px;
 margin-bottom: 30px;
}
.table th {
  color: #605e5e;
  border-right:none ;
  border-left:none ;
  transform:uppercase;
}
.table th:first-child {
}
.table th > span {
  font-weight: normal;
}

h2 > a {
  color: #605e5e;
  transform:uppercase;
}
.table td {
  color: #605e5e;
  border-right:none ;
  border-left:none ;
}
.text-13 >.col-2 > p{ font-size: 13px;}


.post-content > h2 { transform:uppercase !important;}


.header-logo > a {
  text-decoration: none;
}
@media screen and (max-width: 480px) {

  .mb-none {
      display: none;
  }
  .header-logo {
  width: 200px !important;
  color: #fff;
}
#header .header-nav-main:not(.header-nav-main-mobile-dark) nav > ul > li > a.active {
    display: block;
}
}


/* Social Icons */
.social-icons {
	margin: 0;
	padding: 0;
	width: auto;
}

.social-icons li {
	display: inline-block;
	margin: -1px 1px 0 0;
	padding: 0;
	border-radius: 100%;
	overflow: visible;
}

.social-icons li a {
	transition: all 0.2s ease;
	border-radius: 100%;
	display: block;
	height: 28px;
	line-height: 28px;
	width: 28px;
	text-align: center;
	color: #333 !important;
	text-decoration: none;
	font-size: 12.8px;
	font-size: 0.8rem;
}

.social-icons li:hover a {
	background: #151719;
	color: #FFF !important;
}

.social-icons li:hover.social-icons-twitter a {
	background: #1aa9e1;
}

.social-icons li:hover.social-icons-facebook a {
	background: #3b5a9a;
}

.social-icons li:hover.social-icons-linkedin a {
	background: #0073b2;
}

.social-icons li:hover.social-icons-rss a {
	background: #ff8201;
}

.social-icons li:hover.social-icons-googleplus a {
	background: #dd4b39;
}

.social-icons li:hover.social-icons-pinterest a {
	background: #cc2127;
}

.social-icons li:hover.social-icons-youtube a {
	background: #c3191e;
}

.social-icons li:hover.social-icons-instagram a {
	background: #7c4a3a;
}

.social-icons li:hover.social-icons-skype a {
	background: #00b0f6;
}

.social-icons li:hover.social-icons-email a {
	background: #dd4b39;
}

.social-icons li:hover.social-icons-vk a {
	background: #6383a8;
}

.social-icons li:hover.social-icons-xing a {
	background: #1a7576;
}

.social-icons li:hover.social-icons-tumblr a {
	background: #304e6c;
}

.social-icons li:hover.social-icons-reddit a {
	background: #ff4107;
}

.social-icons.social-icons-dark li a {
	background: #181818;
}

.social-icons.social-icons-dark li a i {
	color: #FFF;
}

.social-icons.social-icons-dark-2 li a {
	background: #272a2e;
}

.social-icons.social-icons-dark-2 li a i {
	color: #FFF;
}

.social-icons.social-icons-transparent li {
	box-shadow: none;
}

.social-icons.social-icons-transparent li a {
	background: transparent;
}

.social-icons.social-icons-icon-light li a i {
	color: #FFF;
}

.social-icons.social-icons-icon-light.social-icons-clean li a i {
	color: #FFF !important;
}

.social-icons.social-icons-big li a {
	height: 48px;
	line-height: 48px;
	width: 48px;
}

.social-icons.social-icons-opacity-light li a {
	background: rgba(255, 255, 255, 0.04);
}

.social-icons:not(.social-icons-clean):not(.social-icons-dark):not(.social-icons-dark-2) li {
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.social-icons:not(.social-icons-clean):not(.social-icons-dark):not(.social-icons-dark-2) li a {
	background: #FFF;
}

.social-icons-dark.social-icons-clean li a,
.social-icons-dark-2.social-icons-clean li a {
	background: transparent;
	color: #FFF !important;
}

/*list*/
/* List */
.list li {
	margin-bottom: 13px;
}

.list.pull-left li {
	text-align: left;
}

.list.list-icons {
	list-style: none;
	padding-left: 0;
	padding-right: 0;
}

.list.list-icons li {
	position: relative;
	padding-left: 25px;
}

.list.list-icons li > [class*="fa-"]:first-child,
.list.list-icons li > .icons:first-child, .list.list-icons li a:first-child > [class*="fa-"]:first-child,
.list.list-icons li a:first-child > .icons:first-child {
	position: absolute;
	left: 0;
	top: 5px;
}

.list.list-icons.list-icons-style-2 li {
	padding-top: 5px;
	padding-left: 36px;
}

.list.list-icons.list-icons-style-2 li > [class*="fa-"]:first-child,
.list.list-icons.list-icons-style-2 li > .icons:first-child, .list.list-icons.list-icons-style-2 li a:first-child > [class*="fa-"]:first-child,
.list.list-icons.list-icons-style-2 li a:first-child > .icons:first-child {
	border-width: 1px;
	border-style: solid;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	text-align: center;
	padding: 4px;
	font-size: 0.8em;
	line-height: 1.3;
}

/* Home Intro */
.home-intro {
	background-color: #212529;
	margin-bottom: 60px;
	overflow: hidden;
	padding: 38.4px 0;
	padding: 2.4rem 0;
	position: relative;
	text-align: left;
}

.home-intro p {
	color: #FFF;
	display: inline-block;
	font-size: 1.4em;
	font-weight: 600;
	margin-bottom: 0;
}

.home-intro p span:not(.highlighted-word) {
	color: #FFF;
	display: block;
	font-size: 0.8em;
	font-weight: 300;
	padding-top: 5px;
	opacity: 0.7;
}

.home-intro p .highlighted-word {
	font-size: 1.6em;
}

.home-intro .get-started {
	position: relative;
}

.home-intro .get-started .btn {
	position: relative;
	z-index: 1;
}

.home-intro .get-started .btn i {
	font-size: 1.1em;
	font-weight: normal;
	margin-left: 5px;
}

.home-intro .get-started a {
	color: #FFF;
}

.home-intro .get-started a:not(.btn) {
	color: #FFF;
	font-weight: 600;
}

.home-intro .learn-more {
	color: #FFF;
	margin-left: 15px;
	font-weight: 300;
}

.home-intro.light {
	background-color: #EDEDED;
}

.home-intro.light.secondary {
	background-color: #E0E1E4;
}

.home-intro.light p,
.home-intro.light .learn-more,
.home-intro.light p span:not(.highlighted-word),
.home-intro.light .get-started a:not(.btn) {
	color: #333333;
}


/*slider**/
.ares.tparrows {
	cursor:pointer;
	background:transparent;
	min-width:60px;
		min-height:60px;
	position:absolute;
	display:block;
	z-index:100;
		border-radius:50%;
}

.ares.tparrows:hover {
  background:transparent;
}
.ares.tparrows:before {
	font-family: "revicons";
	font-size:25px;
	color:#aaa;
	display:block;
	line-height: 60px;
	text-align: center;
		-webkit-transition: color 0.3s;
		-moz-transition: color 0.3s;
		transition: color 0.3s;
		z-index:2;
		position:relative;
}
.ares.tparrows.tp-leftarrow:before {
	content: "\e81f";
}
.ares.tparrows.tp-rightarrow:before {
	content: "\e81e";
}
.ares.tparrows:hover:before {
 color:#000;
			}

			.owl-carousel.nav-inside.nav-inside-edge .owl-nav button.owl-prev {
				left: 0;
			}
			
			.owl-carousel.nav-inside.nav-inside-edge .owl-nav button.owl-next {
				right: 0;
			}
			
.owl-carousel.nav-style-1 .owl-nav .owl-next,
.owl-carousel.nav-style-1 .owl-nav .owl-prev {
	width: 20px;
	background: transparent !important;
	color: #000;
}

.owl-carousel.nav-style-1 .owl-nav .owl-next:hover, .owl-carousel.nav-style-1 .owl-nav .owl-next:active,
.owl-carousel.nav-style-1 .owl-nav .owl-prev:hover,
.owl-carousel.nav-style-1 .owl-nav .owl-prev:active {
	color: #CCC;
}

.owl-carousel.nav-style-1 .owl-nav .owl-next:before, .owl-carousel.nav-style-1 .owl-nav .owl-next:after,
.owl-carousel.nav-style-1 .owl-nav .owl-prev:before,
.owl-carousel.nav-style-1 .owl-nav .owl-prev:after {
	font-size: inherit;
}
.line-area > li {
	line-height: 3;
}